<nz-card [nzBordered]="false" nzTitle="User Management" [nzExtra]="extraTemplate">

    <nz-table #basicTable [nzData]="listOfDisplayData" nzBordered="true" nzOuterBordered="true" nzSize="small" nzShowQuickJumper="true" nzShowPagination="true" nzShowSizeChanger="true">
      <thead>
        <tr>
          <th nzCustomFilter>Name
            <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
              <nz-icon nzType="search" />
            </nz-filter-trigger>
          </th>
          <th>Age</th>
          <th>phone</th>
          <th>email</th>
          <th>Address</th>
          <th>Active</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for (data of basicTable.data; track data) {
        <tr>
          <td>{{ data.fullName }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.phonePrefix }}-{{ data.phone }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.address }}</td>
          <td>
            <nz-switch (ngModelChange)="changeActiveStatus(data)" [ngModel]="data.isActive" [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
            <ng-template #checkedTemplate><nz-icon nzType="check" /></ng-template>
            <ng-template #unCheckedTemplate><nz-icon nzType="close" /></ng-template>
          </td>
          <td>
            <!-- View Button (Primary Blue) -->
            <button class="m-1" nz-button nzType="primary" nzSize="small" (click)="viewUser(data)">View</button>
            
            <!-- Edit Button (Default with Border) -->
            <button class="m-1" nz-button nzType="default" nzSize="small" (click)="editUser(data)">Edit</button>
            
            <!-- Delete Button (Danger Red) -->
            <button class="m-1" nz-button nzType="primary" nzDanger nzSize="small" (click)="delete(data)">Delete</button>

            <button nz-button nzType="primary" nzSize="small" class="m-1" (click)="showUserOnMap(data)">View on Map</button>
          </td>
        </tr>
        }
      </tbody>
    </nz-table>



  <!-- view Model -->

  <nz-modal [(nzVisible)]="modalData" [nzTitle]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()">
    <ng-template #modalTitle>{{ modalData.fullName }}</ng-template>
  
    <ng-template #modalContent>
      <div>
        <table class="profile-table">
          <!-- Blood Group -->
          <tr>
            <th>Blood Group</th>
            <td>
              <span class="blood-group">
                {{ modalData.bloodGroup }}
              </span>
            </td>
          </tr>
      
          <!-- Contact -->
          <tr>
            <th>Contact</th>
            <td>
              <div>{{ modalData.email }}</div>
              <div>{{ modalData.phonePrefix }} {{ modalData.phone }}</div>
            </td>
          </tr>
      
          <!-- Address -->
          <tr>
            <th>Address</th>
            <td>
              <div>{{ modalData.address }}</div>
              <div>{{ modalData.city }}, {{ modalData.state }}</div>
              <div>Coordinates: {{ modalData.latitude }}, {{ modalData.longitude }}</div>
            </td>
          </tr>
      
          <!-- Age & Gender -->
          <tr>
            <th>Age & Gender</th>
            <td>
              {{ modalData.age }} years ({{ modalData.dob | date :'dd-MM-YYYY'}})
              <span class="gender-badge {{ modalData.gender }}">
                {{ modalData.gender | titlecase }}
              </span>
            </td>
          </tr>
      
          <!-- Last Donation -->
          <tr *ngIf="modalData.lastDonationDate">
            <th>Last Donation</th>
            <td>{{ modalData.lastDonationDate | date :'dd-MM-YYYY' }}</td>
          </tr>
      
          <!-- Availability -->
          <tr>
            <th>Availability</th>
            <td>
              <span [class.available]="modalData.isAvailable" [class.not-available]="!modalData.isAvailable">
                {{ modalData.isAvailable ? 'Available for donation' : 'Currently unavailable' }}
              </span>
            </td>
          </tr>
        </table>
      </div>
    </ng-template>
  
    <ng-template #modalFooter>
      <button nz-button nzType="default" (click)="editUser(modalData)">Edit</button>
      <button nz-button nzType="primary" nzDanger (click)="delete(modalData)" [nzLoading]="isConfirmLoading">Delete</button>
    </ng-template>
  </nz-modal>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>


<ng-template #extraTemplate>
  <button nz-button nzType="default" (click)="editUser()">Add User</button>
</ng-template>

</nz-card>