<nz-layout>
  <nz-header>
    <div style="display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; width: 100%;">
      <!-- Logo -->
      <div style="color: white; font-weight: bold; font-size: 1.5rem;">Blood Bank
        <nz-icon *ngIf="isLoggedIn" class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed" />
      </div>
  
      <!-- Menu Items -->
      <ul *ngIf="!isLoggedIn"
        style="display: flex; flex: 1; list-style: none; margin: 0; padding: 0; color: white; flex-wrap: wrap;">
        <li style="margin: 0 1rem;" class="d-none d-md-inline" href="#home">Home</li>
        <li style="margin: 0 1rem;" class="d-none d-md-inline" href="#about">About</li>
        <li style="margin: 0 1rem;" class="d-none d-md-inline" href="#contact">Contact</li>
      </ul>
  
      <!-- Login Button -->
      <div style="padding-right: 10px;">
        <button *ngIf="!isLoggedIn" class="btn btn-secondary" (click)="navigateTo('/login')">Login</button>
        <button *ngIf="isLoggedIn" class="btn btn-secondary" (click)="onLogout()">Log Out</button>
      </div>
    </div>
  </nz-header>
  
  <nz-layout *ngIf="isLoggedIn">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" nzWidth="200px" nzTheme="dark">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <ng-container *ngFor="let item of filteredMenuItems">
          <!-- For items with children - render as submenu -->
          <li *ngIf="item.childrens && item.childrens.length > 0; else menuItem" nz-submenu [nzTitle]="item.title"
            [nzIcon]="item.icon" [nzOpen]="item.isOpen">
            <ul>
              <li nz-menu-item *ngFor="let child of item.childrens" [nzSelected]="child.isSelected"
                [routerLink]="child.link" routerLinkActive="ant-menu-item-selected">
                <span nz-icon [nzType]="child.icon" *ngIf="child.icon"></span>
                <span>{{child.title}}</span>
              </li>
            </ul>
          </li>
    
          <!-- For items without children - render as simple menu item -->
          <ng-template #menuItem>
            <li nz-menu-item [nzSelected]="item.isSelected" [routerLink]="item.link"
              routerLinkActive="ant-menu-item-selected">
              <span nz-icon [nzType]="item.icon" *ngIf="item.icon"></span>
              <span>{{item.title}}</span>
            </li>
          </ng-template>
        </ng-container>
      </ul>
      </nz-sider>
    <nz-layout class="inner-layout">
      <!-- <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
        <nz-breadcrumb-item>App</nz-breadcrumb-item>
      </nz-breadcrumb> -->
      <router-outlet></router-outlet>
    </nz-layout>
  </nz-layout>
  <router-outlet  *ngIf="!isLoggedIn"></router-outlet>
</nz-layout>