<nav class="navbar navbar-expand-lg navbar-light bg-danger text-white" style="box-shadow: 0px -1px 100px 1px rgba(255, 255, 255, 1); z-index: 1;">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Blood Bank</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @for (item of menuItems; track item.title) {
          @if (currentUser && item.afterLogin) {
            <!-- Show ONLY if logged in AND item is marked `afterLogin: true` -->
            <li class="nav-item">
              <a class="nav-link text-white" [routerLink]="item.link">{{ item.title }}</a>
            </li>
          }
          @if (!currentUser && !item.afterLogin) {
            <!-- Show ONLY if NOT logged in AND item is marked `afterLogin: false` -->
            <li class="nav-item">
              <a class="nav-link text-white" [routerLink]="item.link">{{ item.title }}</a>
            </li>
          }
        }
      </ul>

      <!-- Profile Picture Dropdown -->
      @if (currentUser) {
      {{ currentUser?.name }} &nbsp;&nbsp;&nbsp;
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/profile.png" alt="Profile" class="rounded-circle profile-img">
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    }@else{
      <form class="d-flex">
        <button type="button" class="btn btn-outline-light" [routerLink]="['/login']">Login</button>
      </form>
    }
    </div>
  </div>
</nav>
