.header-menu {
  line-height: 61px !important;
}

.outer-content {
  padding: 0 50px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-layout {
  padding: 24px;
  background: #fff;
}

.inner-content {
  padding: 0 24px;
  min-height: 280px;
}

nz-footer {
  text-align: center;
}

.ant-layout-header {
  padding: 0px !important;
}

/* Custom styling for the active horizontal menu item */
::ng-deep .ant-menu-dark.ant-menu-horizontal>.ant-menu-item-selected {
  background-color: transparent !important;
  color: #ff4d4f !important;
  /* Red theme for Blood Bank */
  border-bottom: 3px solid #ff4d4f !important;
}

::ng-deep .ant-menu-dark.ant-menu-horizontal>.ant-menu-item:hover {
  color: #ff4d4f !important;
}

::ng-deep .ant-menu-item:hover {
  background-color: transparent !important;
  color: #ff4d4f !important;
}

::ng-deep .ant-menu-dark.ant-menu-horizontal>.ant-menu-submenu-selected {
  background-color: transparent !important;
  color: #ff4d4f !important;
  border-bottom: 3px solid #ff4d4f !important;
}

::ng-deep .ant-menu-dark.ant-menu-horizontal>.ant-menu-submenu:hover {
  color: #ff4d4f !important;
}