<form nz-form [formGroup]="stateForm" class="user-form">

  <nz-form-item>
    <nz-form-label nzRequired>State Name</nz-form-label>
    <nz-form-control [nzErrorTip]="fullNameErrorTpl">
      <input nz-input formControlName="name" placeholder="Enter State name">
      <ng-template #fullNameErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please enter State name
        </ng-container>
        <ng-container *ngIf="control.hasError('maxlength')">
          Maximum 50 characters allowed
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>Country</nz-form-label>
    <nz-form-control>
      <nz-select formControlName="country" [compareWith]="compareCountries">
        @for(country of countryMaster; track country) {
        <nz-option [nzValue]="country" [nzLabel]="country.name"></nz-option>
        }
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>