<form [formGroup]="changePasswordForm" class="user-form" (ngSubmit)="changePassword(changePasswordForm.value)">
  <nz-form-item>
    <nz-form-label nzRequired>Old Password</nz-form-label>
      <nz-input-group [nzSuffix]="suffixTemplate">
        <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Old password" formControlName="oldPassword" />
      </nz-input-group>
      <ng-template #suffixTemplate>
        <nz-icon class="ant-input-password-icon" [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
          (click)="passwordVisible = !passwordVisible" />
      </ng-template>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>New Password</nz-form-label>
    <nz-input-group [nzSuffix]="suffixTemplate">
      <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="New password"
        formControlName="newPassword" />
    </nz-input-group>
    <ng-template #suffixTemplate>
      <nz-icon class="ant-input-password-icon" [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
        (click)="passwordVisible = !passwordVisible" />
    </ng-template>
    <nz-form-control>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>Confirm New Password</nz-form-label>
    <nz-input-group [nzSuffix]="suffixTemplate">
      <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Confirm password"
        formControlName="confirmPassword" />
    </nz-input-group>
    <ng-template #suffixTemplate>
      <nz-icon class="ant-input-password-icon" [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
        (click)="passwordVisible = !passwordVisible" />
    </ng-template>
    <nz-form-control>
    </nz-form-control>
  </nz-form-item>
  <div class="form-group mb-3">
      <button nz-button nzType="primary" [disabled]="changePasswordForm.invalid">Change Password</button>
  </div>
</form>