@if(sentOtp){
  <form name="forgotPassword" class="user-form" (ngSubmit)="getOtp()">
    <nz-form-item>
      <nz-form-label nzRequired>Email</nz-form-label>
      <nz-form-control nzErrorTip="Please input your email!">
        <nz-input-group>
          <input nz-input type="email" name="email" [(ngModel)]="email" placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary" [disabled]="email === null || email === ''">
      Get OTP
    </button>
  </form>
}
{{email}}
@if(sendOTP){
<form name="otp" class="otp-form" (ngSubmit)="submitOtp()">
  <nz-flex nzVertical>
    <h6>Enter 4 digit OTP</h6>
    <nz-input-otp [nzLength]="4"></nz-input-otp>
  </nz-flex>
  <button class="mt-3" nz-button nzType="primary" [disabled]="email === null || email === ''">
    Submit OTP
  </button>
</form>
}


    

