<nz-card [nzBordered]="false" nzTitle="City Master" [nzExtra]="extraTemplate">
@if(listOfCities.length >0){
<nz-table #basicTable [nzData]="listOfCities">
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>State Name (Id)</th>
      <th>Country Name (Id)</th>
      <th>Country Code</th>
    </tr>
  </thead>
  <tbody>
    @for (data of listOfCities; track data) {
    <tr>
      <td>{{ data.id }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.state?.name }} ({{data.state?.id}})</td>
      <td>{{ data.state?.country?.name }} ({{ data.state?.country?.id }})</td>
      <td>{{ data.state?.country?.code }}</td>
      <td>
        <!-- Edit Button (Default with Border) -->
        <button class="m-1" nz-button nzType="default" nzSize="small" (click)="editCity(data)">Edit</button>

        <!-- Delete Button (Danger Red) -->
        <button class="m-1" nz-button nzType="primary" nzDanger nzSize="small" (click)="delete(data)">Delete</button>
      </td>
    </tr>
    }
  </tbody>
</nz-table>
}
</nz-card>


<ng-template #extraTemplate>
  <button nz-button nzType="default" (click)="editCity()">Add City</button>
</ng-template>